<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= whichDay%> List
    </h1>
    <ul>
        <% for(let i=0;i< itemList.length;i++){ %>
            <li>
                <%=itemList[i]%>
            </li>
            <% } %>
    </ul>


    <form action="/" method="post">
        <input type="text" name="item" placeholder="Item to add">
        <button type="submit" name="submit">Add</button>
    </form>

</body>

</html>